{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Admin pannel</h1>
              <span class="subheading">share posts from here</span>
            </div>
          </div>
        </div>
      </div>
    </header>


<div class="col-lg-8 col-md-10 mx-auto">
    <div><h2>Basic Actions</h2>

            <a href="/logout"><button type="button" class="btn btn-secondary btn-sm">log Out</button></a>
            <a href="/edit/0">  <button type="button" class="btn btn-secondary btn-sm " style="margin:45px " > Add a new </button> </a>



    </div>


    <div><h2>Upload A file</h2>
        <br>
    <form action="/uploader" enctype="multipart/form-data" method="post"> <input style="*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem 1.5rem;
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
  color: #5a5a5a;
}" name="file1" type="file">



        <button class="btn btn-primary-success" type="submit">Submit</button>
            {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
{% endfor %}</form>

<hr>
    <br>
    <h2>Handle your posts</h2>
    <table class="table table-hover">
  <thead>
    <tr>
          <th scope="col">Serial</th>
          <th scope="col">Title</th>
          <th scope="col">Subtitle</th>
          <th scope="col">Image</th>
          <th scope="col">Date</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody href="/edit/{{posts.sno}}">
  {% for post in posts %}
    <tr>
      <th scope="row">{{post.sno}}</th>
      <td>{{post.title}}</td>
      <td>{{post.subtitle}}</td>
      <td>{{post.img_url}}</td>
      <td>{{post.date}}</td>
      <td> <a href="/edit/{{post.sno}}"> <button type="button" class="btn btn-secondary">Edit</button></td> </a>
      <td> <a href="/delete/{{post.sno}}"> <button type="button" class="btn btn-danger btn-sm" >Delete</button> </td> </a>

    </tr>
    {% endfor %}
  </tbody>

</table>

</div>
</div>


{% endblock %}
