{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{ params['site_title']}}</h1>
              <span class="subheading">{{ params['tag_line']}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


  <!-- to do fetch from for loop -->
       {% for post in posts %}      <!-- jinja template for loop-->



          <div class="post-preview">
            <a href="/post/{{post.slug}}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.subtitle }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">admin</a>
              on {{post.date}}</p>
              {{ post.content[0:40] }}
          </div>
        <hr>
        {% endfor %}

          <!-- Pager -->
          <div class="clearfix">
              <a class="btn btn-primary float-left" href="{{prev}}">← Newer Posts</a>
            <a class="btn btn-primary float-right" href="{{next}}">Older Posts →</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
